* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #fffaca94;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  height: 300px;
  width: 300px;
  border-radius: 5px;
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.121);
  margin-bottom: 10px;
}
.img-wrating {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  align-items: center;
}
table {
  margin-bottom: 20px;
}
.main-page {
  text-decoration: none;
  color: #4d8275;
  background-color: rgba(212, 212, 212, 0.665);
  border-radius: 5px;
  height: 20px;
  width: 80px;
}

h1,
h2,
h3 {
  color: #4d8275;
}
footer {
  margin-top: 30px;
}
button {
  border-style: outset;
  cursor: pointer;
}
