* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-page {
  display: block;
  color: black;
  text-decoration: none;
  font-weight: 600;
  border-radius: 5px;
  height: 20px;
  width: 100px;
  letter-spacing: 0.5px;
  text-align: center;
  transition: ease-in;
}
.main-page:hover {
  background-color: rgba(9, 5, 0, 0.546);
  box-shadow: 1px 5px 5px 1px rgba(0, 0, 0, 0.105);
  transform: translateY(-2px);
  transition: transform 0.5s;
  color: white;
}
main {
  padding: 16px;
}
.main-btn-holder {
  background-color: rgb(212, 173, 121);
}
nav {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.166);
  padding: 16px;
}
h1 {
  margin: 20px 0;
  color: darkgreen;
}
h2 {
  margin: 15px 0;
}

.veg-link {
  text-decoration: none;
  color: rgba(0, 128, 0, 0.827);
  margin-bottom: 15px;
  letter-spacing: 0.5px;
}
.veg-link:hover {
  color: rgba(7, 70, 4, 0.869);
  transform: translateY(-2px);
  transition: transform 0.5s;
}
img {
  height: 200px;
  width: 200px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 2px rgba(0, 0, 0, 0.104);
}
footer {
  padding: 24px 0;
  position: static;
  bottom: 0;
  background-color: rgba(185, 185, 11, 0.857);
}
.food-grid {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-auto-flow: row;
}
/* .food-grid :not(:last-child) {
  grid-row: 1;
} */

/* .first {
  grid-column: 1;
  grid-row: 1;
}
.second {
  grid-column: 2;
}
.third {
  grid-column: 3;
}
.fourth {
  grid-column: 4;
} */
.food {
  margin-bottom: 25px;
  justify-content: space-between;
}
footer {
  margin: 15px 0;
}
.footer-txt {
  margin-left: 20px;
}
tbody tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.231);
}
ol {
  margin-left: 42px;
}
